h1{
    color: red;
    font-size: 40px;
}

.body_background{
background-position: center;
background-size: cover;

}
#myCanvas{
    border-width: 30px;
    background-color: white;
    border-style: ridge;
}